In [1]:
#Q1) H0=there is no difference between two unit(mue1=mue2)
#  Ha= Significance difference between two unit(mue1!=mue2)
# 5% Significance level
# a=0.05

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data=pd.read_csv("Cutlets (1).csv")
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
UnitA=pd.Series(data.iloc[:,0])
UnitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [5]:
UnitB=pd.Series(data.iloc[:,1])
UnitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [6]:
stats, p =stats.ttest_ind(UnitA,UnitB)

In [7]:
stats

0.7228688704678063

In [8]:
p

0.4722394724599501

In [9]:
alpha=0.05
print("p value is" +str(p))
if p<=alpha:
    print("There is significance difference between two unit(Reject H0)")
else:
    print("There is no difference between two unit(Accept H0)")

p value is0.4722394724599501
There is no difference between two unit(Accept H0)